.title{
  margin-top: 50px;
  text-align: left;
}
.note-page{
  background-color: rgb(208, 208, 208);
  margin: 0 100px;
  min-height: 800px;
  padding: 10px;
}
.mood{
  text-align: left;
}

.text{
  text-align: left;
  padding-bottom: 20px;
  
}

.delete-btn{
  margin-left: 47%;
  color:white;
  background-color: black;
  border: 0;
  padding: 12px;
  border-radius: 60%;
}

.edit-btn{
  color:white;
  margin-top: 10px;
  margin-left: 30px;
  background-color: black;
  border: 0;
  padding: 10px;
  border-radius: 60%;
}