.title-link{
  color: black;
  font-weight: 200;
  margin: 0 0 0 30px ;
}

.page-link{
  overflow: hidden;
  max-width: fit-content ;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page-preview{
  padding: 10px 30px;
  display: flex;
}

a{
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}


a :hover{
  color: rgb(111, 2, 2);
}

.date{
  margin: 3px 0 10px 25px;
  font-weight: 600
}
