.title-link{
  color: black;
  font-weight: 200;
}

.page-link{
  overflow: hidden;
  max-width:250px ;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.page-preview{
  padding: 10px 30px;
}

a{
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}


a :hover{
  color: rgb(111, 2, 2);
}